<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/min.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        div.flash {
            background-color: orange;
            padding: 20px;
            font-weight: bold;
            width: 100%;
        }
    </style>

    {% block head %}
    <title>{% block title %}{% endblock title %} - dns-01.online</title>
    {% endblock head %}
</head>
<body>
    <header>
        <nav class="nav">
			<div class="container">
				<a class="pagename current" href="/">dns-01.online</a>
                {% if username %}
                    <a href="/overview"><b>API Key</b></a>
                {% endif %}
				<a href="/usage">Usage</a>
                {% if username %}
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                {% endif %}
			</div>
		</nav>
    <header>
    
    <main>
        <div class="container" id="content">
            {% if flash %}
                 <div class="flash">{{ flash }}</div>
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>
</html>
